<section class="main">
    <div class="main_login" >
        <div class="login-img">
            <img src="../../assets/images/login-image.png" alt="image" >
        </div>
        <div class="logo-img">
            <img src="../../assets/images/tnhb_logo.png" alt="logo-img" >
            <h3 class="head">Login</h3><br>
            <form class="input-from " >
                <div class="input-group mb-3 mx-auto">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    
                  </div><br>
                  <div class="input-group mb-3 mx-auto">
                    <input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group1 mb-3 mx-auto">
                    <button type="button" routerLink="home" class="btn btn-primary">submit</button>
                  </div>
            </form>
        
        </div>
        
        
    </div>
</section>
